@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap'); 
/* regular bold semibold */

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  margin: 35px auto 41px;
  padding: 23px 0;
  width: 1167px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.header__sitename {
  color: #14279B;
  letter-spacing: 0.205em;
  margin-left: 10px;
}
.header__sitename_decorated {
  font-weight: 600;
}

.header__menu-list {
  display: flex;
  gap: 45px;
  
}

.header__menu-link {
  letter-spacing: 0.055em;
  text-decoration: none;
}

.link_active {
  color: #fff;
  background-color: #608AF5;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.055em;
}

.welcome {
  margin: 0 auto 118px;
  width: 1167px;
  justify-content: space-between;
  display: flex;
}
.welcome__text-wrap {
  margin: 43px 0 67px; /* объясняю зачнм нижний оступ (чтобы не задавать высоту секции) */
  width: 580px;
}
.welcome__title {
font-weight: 600;
font-size: 50px;
letter-spacing: 0.005em;
color: #002265;
margin-bottom: 100px;
}

.welcome__paragraph {
font-size: 23px;
line-height: 34px;
letter-spacing: 0.015em;
}
.welcome__image {
  width: 501px;
}

.hobbies {
  width: 1141px;
  margin: 0 auto 168px;
}
.hobbies__title {
  text-align: center;
  color: #002265;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.055em;
  margin-bottom: 60px;
}
.hobbies__title_decorated {
  color: #14279B;
}
.hobbies__list {
  display: flex;
  justify-content: space-between;
  align-items: start; /* чтобы верхние края карточек были прижаты к верху */
}

.hobbies__card {
  width: 347px;
  padding: 20px 24px 24px; /* в конце верстки секции поменять паддинг инлайн на пиксель меньше отображается сейчас не очень */
  text-align: center;
  box-shadow: 0 0 10px #757474;
  border-radius: 13px;
}
.hobbies__card-image {
  width: 225px;
  margin-bottom: 18px;
}

.hobbies__card-title {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.055em;
  margin-bottom: 13px;
}

.hobbies__card-subtitle {
  font-size: 18px;
  letter-spacing: 0.055em;
}

.portfolio {
  width: 1141px;
  margin: 0 auto 168px;
}
.portfolio__title {
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.185em;
  color: #002265;
  margin-bottom: 60px;
}
.portfolio__title_decorated {
  color: #14279B;
}
.portfolio__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.portfolio__link {
  text-decoration: none;
}
.portfolio__card {
  width: 347px;
  padding: 26px 12px 15px 17px;
  box-shadow: 0 0 10px #757474;
  border-radius: 13px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio__card-element {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: 17px;
  z-index: -1;
}

.portfolio__card-element_violet {
 /* background-color: #6C63FF; */
 background-color: rgba(108, 99, 255, 0.5);
}
.portfolio__card-element_blue {
  /* background-color: #4DC2F1; */
  background-color: rgba(77, 194, 241, 0.5);
}
.portfolio__card-element_grey {
  /* background-color: #5F596E; */
  background-color: rgba(95, 89, 110, 0.5);
}
.senpay-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
.sendplay-logo__image {
  width: 51px;
}
.sendpay-logo__text {
  font-weight: 600;
  font-size: 25px;
  color: #6C63FF;
}
.portfolio__card-image {
  width: 285px;
  height: 164px;
  align-self: end;
}
.ecomerce-logo {
  width: 175px;
  text-align: end;
  font-weight: 600;
  font-size: 25px;
  color: #4581F7;
  white-space: nowrap;
}

.ecomerce-logo__text-bottom {
  font-size: 13px;
}
.beatslearning-logo {
  width: 175px;
}

.footer {
  width: 1141px;
  margin: 0 auto 307px;
}
.footer__title {
  text-align: center;
  font-size: 35px;
  letter-spacing: 0.185em;
  color: #002265;
  margin-bottom: 56px;
}
.footer__title_decorated {
  color: #14279B;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__link {
  text-decoration: none;
}
.footer__image {
  width: 240px;
  
}